:root {
  /* 主题颜色 - 蓝色 */
  --sy-primary-color: #496ECE;
  --sy-primary-color-dark: #3a5db6;
  --sy-primary-color-light: rgba(73, 110, 206, 0.1);
  --sy-primary-shadow-light: rgba(73, 110, 206, 0.3);
  --sy-primary-shadow-dark: rgba(73, 110, 206, 0.4);

  /* 渐变色定义 */
  --sy-gradient-primary: linear-gradient(135deg, #496ECE 0%, #3a5db6 100%);
  --sy-gradient-blue-purple: linear-gradient(135deg, #496ECE 0%, #8965e0 100%);
  --sy-gradient-blue-cyan: linear-gradient(135deg, #496ECE 0%, #38bdf8 100%);
  --sy-gradient-hot: linear-gradient(135deg, #ff3a6e 0%, #ff7f59 100%);
  
  /* 图片中的青色到蓝色文字渐变 */
  --sy-gradient-cyan-blue: linear-gradient(90deg, #22e7bf 0%, #108eff 100%);
  /* --sy-gradient-cyan-blue: linear-gradient(90deg, #5795f7 0%, #5351f6 100%); */
  --vp-nav-logo-height: 30px;
  /* 文本颜色已经在VitePress中定义，使用其变量 */
  /* --vp-c-text-1: 主要文本 */
  /* --vp-c-text-2: 次要文本 */
  /* --vp-c-text-3: 辅助文本 */
  
  /* 背景颜色已经在VitePress中定义，使用其变量 */
  /* --vp-c-bg-soft: 软背景 */
  /* --vp-c-bg-mute: 静音背景 */
  /* --vp-c-divider: 分隔线 */
  /* --vp-c-shadow-1: 浅阴影 */
  /* --vp-c-shadow-2: 深阴影 */
}


/* 深色主题背景色覆盖 */
.dark {
  /* 深色模式主背景色 */
  --vp-c-bg: #121826;
  
  /* 次级背景色 */  
  --vp-c-bg-soft: #111125;
  --vp-c-bg-mute: #1a1a30;

  --vp-sidebar-bg-color: #121826;

  --vp-c-bg-alt: #171d2b;
  --vp-c-neutral-inverse:#171d2b;
  
  /* 边框和分隔线 */
  --vp-c-divider: rgba(84, 84, 128, 0.2);
  
  /* 阴影调整 */
  --vp-c-shadow-1: rgba(0, 0, 0, 0.25);
  --vp-c-shadow-2: rgba(0, 0, 0, 0.4);
} 